{% load staticfiles %}
<!-- Footer -->


<footer  id="footer" class="footer container-fluid" style="margin-top:100px;" >

	<!-- <div  class="container moto"> -->
	<!-- <p><span id="text-moto">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. ”</span></p> -->
	<!-- </div> -->



      <div class="container region">
	  
		    <div class="col-grps">
				<h4><a href="/about#lab" >About</a></h4>
				  
				<ul class="menu nav">
					<li class="first">
						<a href="/about#lab" >The Lab</a>
					</li>
					<li>
						<a href="/about#group" >Members</a>
					</li>
				</ul>
			</div>
			
			<div class="col-grps">
				  <h4><a href="/research" >Research</a></h4>	
				  
				  <ul class="menu  nav">
					 <li class="first">
						<a href="/research/focus" >Focus</a>
					 </li>
					 <li>
						<a href="/research/publications" >Publications</a>
					 </li>
					 <li class="last">
						<a href="/research/resource" >Resource</a>
					 </li>
					 </ul>				  
			</div>
			
			<div class="col-grps">
				  <h4><a href="/products" >Data Products</a></h4>					  
				  <ul class="menu  nav">
					 <li class="first">					
						<a href="/products/EDVI" >EDVI</a>
					 </li>
					 <li>
						<a href="/products/ET">EDVI Based ET</a>
					 </li>
					 <li>
						<a href="/products/LH" >Latent Heating</a>
					 </li>
					 <li class="last">
						<a href="/products/MLSE" >MLSE</a>
					 </li>

					 </ul>				  
			</div>		
	
			<div class="col-grps">
				  <h4><a href="/news" >News</a></h4>					  
				  <ul class="menu  nav">
					 <li class="first">
						<a href="/news" >News</a>
					 </li>
				  </ul>				  
			</div>	
			<div class="col-grps">
				  <h4><a href="/contactus" >Contact Us</a></h4>					  
				  <ul class="menu  nav">
					 <li class="first">
						<a href="/about#opportunity" >Opportunities</a>
					 </li>
				  </ul>				  
			</div>	
			<div class="col-grps-large">	
					<ul class="menu  nav">
						 <li class="first">
							<a href="/home" >Laboratory of </a>
						 </li>
						 <li>
							<a href="https://www.ustc.edu.cn">University of </a>
						 </li>
						 <li>
							<a href="/home">xxx实验室 &copy; 2019-2020. All rights reserved.</a>
						 </li>
						 <li class="last">
							<a href="/admin">管理员登录</a>
						 </li>
				 </ul>	
			</div>
			
			
			
			
			
	</div>

</footer>